@mixin sub-toolbar() {
    .sub-toolbar {
        padding: 0;
        background-color: #fff;
        border-right: 1px solid #e5e5e5;

        h6 {
            font-size: 9px;
            color: black;
            margin-bottom: 15px;
            text-transform: uppercase;
            margin-left: 10px;
            margin-top: 20px;
        }

        ul {
            top: 10px;
            position: sticky;
            list-style: none;
            padding-left: 0;
            margin-top: 10px;

            .active {
                a {
                    i {
                        color: $sidebar-active-color;
                    }
                }
            }

            li {
                a {
                    width: 100%;
                    color: black;
                    display: block;
                    padding: 5px 15px;
                    text-decoration: none;

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
