.tickets.all {
    margin-bottom: 25px;

    .panel-body {
        padding: 0;
    }

    .ticket:nth-child(1) {
        border-top: none !important;
    }

    .ticket {
        border-top: 1px solid #f1f1f1;
        padding: 10px 15px;

        h3, h4 {
            margin-top: 0;
        }

        h3 {
            font-size: 16px;

            .label:nth-child(1) {
                margin-left: 0;
            }
            
            .label {
                margin-left: 3px;
            }

            .status {
                margin-right: 7px;

                i {
                    font-size: 11px;
                    padding-bottom: 5px;
                }
            }

            .department {
                color: #586069;
            }

            a {
                color: black;
            }
        }
    }
}
