.ticket.view {
    padding: 0 15px;

    .title {
        margin-bottom: 25px;

        h2 {
            font-size: 1.75rem;
            margin-top: 1.5rem;
            margin-bottom: 5px;
            line-height: 2rem;
            text-transform: capitalize;
            color: black;
        }

        h3 {
            margin-top: 0;
            padding-top: 0;
            font-size: 1.15em;
            
            span:not(.label) {
                vertical-align: middle;
                color: #586069;
            }

            .label {
                margin-right: 10px;
                background-color: #2cbe4e;
                padding-top: 4px;
            }
        }
    }

    .meta {
        ul {
            list-style: none;
            padding-left: 0;

            li {
                padding-top: 17px;
                font-size: 12px;
                color: #586069;

                span {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 12px;
                    line-height: 16px;
                    color: #586069;
                }
            }
        }
    }
}
