.ticket.view {
    padding: 0 30px;

    .title {
        margin-bottom: 25px;

        h1 {
            font-size: 2.4rem;
            line-height: 3rem;
            margin-top: 1.5rem;
            text-transform: capitalize;
            color: black;

            img {
                width: 35px;
                height: 35px;
                border-radius: 100%;
                margin-top: -6px;
            }
        }

        .meta {
            list-style: none;
            padding-left: 0;
            margin-top: 10px;

            li:nth-child(1) {
                margin-left: 0 !important;
            }

            li {
                margin-left: 15px;
                display: inline-block;
                word-spacing: 3px;
                text-transform: capitalize;
            }
        }
    }

    .body {
        font-size: 14px;
        line-height: 1.6;
    }
}
