.auth--container {
    margin-top: 100px;

    .auth--heading {
        margin-bottom: 30px;

        h3 {
            color: #dedddd;
            font-weight: bolder;
            font-family: $pop-font-family;
        }
    }

    .auth {
        margin: 25px 0;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 8px black;

        form {
            padding: 40px 25px;

            .form-group {
                margin-bottom: 20px;

                .form-control {
                    border-radius: 0;
                    border-left: none !important;
                    background-color: #fff !important;
                    height: 50px;
                }

                .form-control:focus {
                    border: 1px solid #ccc;
                }

                .input-group-addon {
                    border-radius: 0;
                    color: #cccccc;
                }

                label {
                    font-weight: normal;
                    margin-bottom: 0;
                }

                button {
                    font-weight: bolder;
                    padding: 10px 0;
                    background-color: teal;
                    border: none;
                }
            }
        }

        .nav {
            margin-top: 0;
            
            a {
                border-radius: 5px !important;
                background-color: #eeeeee;
                border: none !important;
                padding: 20px;
            }

            li.active:nth-child(1) {
                a {
                    border-left: none !important;
                }
            }

            li.active:nth-child(2) {
                a {
                    border-right: none !important;
                }
            }

            li.active {
                a {
                    background-color: #fff;
                }
            }
        }
    }
}
