body {
    background-color: $body-background-color;
    // -webkit-font-smoothing: antialiased;
    letter-spacing: .1px;
    word-spacing: 1px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.846;
}

a {
    color: #2196f3;
}

label {
    .main {
        font-weight: normal !important;
        text-transform: capitalize;
        letter-spacing: 0.04em;
    }
}
