body {
    background-color: $body-background-color;
    line-height: $line-height;
    overflow-x: hidden;
    font-family: $font-family;
    color: #24292e;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: inherit;
}

.form-control:-webkit-autofill, .form-control:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
}

a {
    color: #0366d6;
    cursor: pointer !important;
}

.label {
    padding: .4em .6em .3em !important;
}

label {
    .main {
        font-weight: normal !important;
        text-transform: capitalize;
        letter-spacing: 0.04em;
    }
}

.panel-footer {
    background-color: #fff;
}

.sweet-alert p {
    font-size: 2.5em;
}
