.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.stick-to-top {
    position: sticky;
    top: 0;
}

.has-border-top {
    border-top: 1px solid #ddd;
}

.input-group {
    .input-group-addon {
        background-color: #fff;
    }
}
