$theme: rgba(230, 126, 34,1.0);
$theme-darker: rgba(211, 84, 0,1.0);

// Colors.
$body-background-color: #fff;

// Typeography.
$line-height: 1.3;
$pop-font-family: 'Baloo Bhaina', cursive;
$font-family: 'Source Sans Pro', sans-serif;

// Sidebar.
$sidebar-bg: #f7f7f7;
$sidebar-active-color: #2ecc71;
$sidebar-color: black;
$sidebar-text-padding: 12px 20px;

// Navbar.
$navbar-bg: $theme;
$navbar-color: #fff;
