$theme: #00587A;
$theme-darker: #0F3057;

// Colors.
$body-background-color: #fff;

// Typeography.
$line-height: 1.3;
$pop-font-family: 'Baloo Bhaina', cursive;
$font-family: 'Source Sans Pro', sans-serif;

// Sidebar.
$sidebar-bg: #ecf0f1;
$sidebar-active-color: #fff;
$sidebar-active-bg-color: #bdc3c7;
$sidebar-color: black;
$sidebar-text-padding: 12px 20px;

// Navbar.
$navbar-bg: $theme;
$navbar-color: #fff;
