.btn.btn-primary {
    background-color: $theme;
    color: white;
    border: none;
}

.btn.btn-success {
    background-color: #2ecc71;
    border: 1px solid #27ae60;
}

.input-group-btn {
    .btn {
        line-height: 1.43857143;
    }
}
