.navbar.heading {
    background-color: #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    
    padding-left: 15px;
    padding-right: 15px;

    margin-bottom: 0;
    z-index: 1000;

    .navbar-nav {
        text-transform: capitalize;
    }

    .pager {
        margin-bottom: 0;
        margin-top: 12px;

        li {
            font-size: 10px !important;
            line-height: 1.4 !important;
        }
    }
}
