.navbar {
    border-radius: 0;
    background-color: #fafafa;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;

    a {
        color: rgba(0, 0, 0, 0.55) !important;
    }

    .navbar-nav {
        a {
            font-size: 15.5px !important;
        }
    }
}
