.navbar:not(.heading) {
    border-radius: 0;
    background-color: $theme;
    border: none;
    margin-bottom: 0;
    
    .navbar-header {
        .navbar-brand {
            font-family: $pop-font-family;
            line-height: 25px;
        }
    }

    .navbar-nav {
        a {
            color: $navbar-color !important;
        }
    }

    .navbar-form {
        .input-group-addon {
            background-color: white;
        }

        input {
            border-left: none;
        }

        input:hover, input:focus {
            border-color: #ccc !important;
        }
    }
}
