.navbar:not(.heading) {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #353535;
    
    .navbar-header {
        .navbar-brand {
            line-height: 25px;
            text-transform: lowercase;
            font-family: $pop-font-family;
            color: rgba(255,255,255,0.75);
        }
    }

    .navbar-nav {
        a {
            text-transform: capitalize;
            font-weight: bolder;

            img {
                width: 18.5px;
                height: 18.5px;
                border-radius: 3px;
            }
        }

        .dropdown-menu {
            a {
                font-weight: normal;
            }
        }

        li.active {
            a {
                color: rgba(255,255,255,0.75);
                background-color: transparent !important;
            }
        }
    }
}
