.sidebar {
    width: inherit;
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;

    background-color: $sidebar-bg;
    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);

    .logo {
        height: 50px;
        background-color: $theme-darker;
        display: flex;
        align-items: center;
        padding: 0 20px;

        h3 {
            margin: 6px 0 0 0;
            color: $navbar-color;
            font-family: $pop-font-family;
            font-size: 1.25em;
        }
    }

    @media screen and (max-width: 768px) {
        display: none;
    }

    .hire-employee {
        padding: 10px 15px 0 15px;
    }

    .section {
        margin-bottom: 15px;

        h6, a {
            color: $sidebar-color;
            padding: $sidebar-text-padding;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                a.active, a:hover {
                    border-left: 4px solid $theme;
                    color: $theme;
                }

                a {
                    border-left: 4px solid $sidebar-bg;

                    -webkit-transition: border-left 75ms ease-in-out, color 75ms ease-in-out;
                    -moz-transition: border-left 75ms ease-in-out, color 75ms ease-in-out;
                    -ms-transition: border-left 75ms ease-in-out, color 75ms ease-in-out;
                    transition: border-left 75ms ease-in-out, color 75ms ease-in-out;

                    width: 100%;
                    display: block;

                    text-decoration: none;
                    text-transform: capitalize;

                    font-size: 12px;
                    letter-spacing: 0.10em;

                    .label {
                        margin-top: 4px;
                    }
                }
            }
        }
    }
}
