.table {
    margin: 0;

    thead {
        tr {
            th {
                border: none;
            }
        }
    }

    thead, tbody {
        tr {
            input {
                padding: 0;
                border: none;
                box-shadow: none;
                outline: none;
                text-align: center;
            }

            th, td {
                padding: 10px;
                text-align: center;
            }
        }
    }
}
